* {
  margin: 0;
  box-sizing: border-box;
  font-family: Arial;
}

.container {
  background: gray;
  display: flex;
  justify-items: center;
  align-items: center;
  height: 98vh;
}

.cardContainer {
  background-color: white;
  display: flex;
  flex-direction: column;
  margin: auto;
  border: 1px solid black;
  padding: 1rem;
  width: 17.5rem;
  height: 15rem;
  border-radius: 0.3rem;
}

.cardContent {
  display: flex;
  flex-direction: column;
  min-height: 10rem;
  justify-content: center;
  align-items: flex-start;
}

.typographyLabel {
  font-size: 12px;
  font-weight: bold;
  color: grey;
  padding: 0.5rem;
}

.typograpgyTextPrimary {
  font-size: 1.5rem;
  padding: 0.5rem;
}

.typograpgyTextSecondary {
  color: grey;
  /* font-weight: bold; */
  padding: 0.5rem;
}

.typograpgyBody {
  padding: 0.5rem;
}

.cardActions {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}

.cardActionButton {
  border: 0px;
  background-color: transparent;
  font-size: 14px;
  /* position: relative; */
  /* margin: auto; */
  color: rgb(0, 87, 248);
  padding: 0.5rem;
  border-radius: 0.2rem;
  width: fit-content;
  height: fit-content;
  font-weight: bold;
}

.cardActionButton:hover {
  background: rgba(240, 236, 236, 0.603);
}
